.homepage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.homepage__header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.homepage__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-row{ 
    display: flex;
    flex-direction: row;
}

.homepage-column{
    display: flex;
    flex-direction: column;
}
.home_description{
    margin: 8px 0px;
    text-align: center;
}
.btn__wrapper{
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}
.home_btn{
    margin-bottom: 8px;
}